<h2>Devices</h2>
<div class="row">
	<div class="col-md-12">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Id</th>
					<th>Description</th>
					<th>Bug Count</th>
				</tr>
			</thead>
			<tbody>
				<% @devices.each do |device| %>
				<tr>
					<td><%= device.id %></td>
					<td><%= link_to device.description, device_path(device) %></td>
					<td><%= device.bug_count %></td>
				</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>